fastapi==0.115.5
uvicorn[standard]==0.32.1
pydantic==2.10.3
email-validator==2.2.0
sqlalchemy==2.0.35
psycopg2-binary==2.9.9
argon2-cffi==23.1.0
python-multipart==0.0.20
pyjwt==2.10.1
user-agents==2.2.0
geoip2==4.8.1
requests==2.32.3
